body {
  font-size: 20px;
}
.h1:hover {
  background-color: purple;
}
#h1:hover {
  color: purple;
}
.link:hover {
  text-decoration: none;
}

ol {
  background-color: aqua;
  border: 6px outset red;
}
ul {
  background-color: green;
  margin: 50px 20px 9px 30px;
}

li {
  background-color: yellow;
  margin: 10px;
  padding: 10px;
}
