* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* vh: Tarayici penceresinin yuksekligine gore yuzde olarak boyut belirler. 1vh pencere yuksekliginin %1ine esittir */
  background-color: antiquewhite;
}

.container {
  width: 430px;
  background-color: brown;
  color: white;
}

.login {
  font-size: 36px;
  text-align: center;
}

.input-box {
  width: 100%;
}
